# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folders
.vs/

# ASP.NET Core config
appsettings.json
appsettings.Development.json

# Log files
*.log

# NuGet packages
*.nupkg
packages/

# Database files
*.mdf
*.ldf

# Others
*.bak
*.backup

TaxiSluzbaBackend.http
TaxiSluzbaBackend.csproj